body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  -webkit-box-shadow: 0px 0px 41px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 41px -13px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 41px -13px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 40px 20px 40px;
  border-radius: 4px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 600;
  font-size: 14px;
}

input {
  background-color: #f9f4f4;
  border: none;
  padding: 10px;
  width: 300px;
}

.buttons-container {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#login-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 6px 14px;
  border-radius: 6px;
  background-color: #f28e19;
  border: none;
  color: white;
  cursor: pointer;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-button > p {
  margin: 0;
}

#error-message {
  color: red;
  font-size: 12px;
  display: none;
}

a {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
}

.loader {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid;
  border-color: white #0000;
  animation: l1 1s infinite;
  display: none;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
