body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
}

.sidebar {
  /* mobile */
  display: none;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  border-left: 1px solid #f5f5f5;
  z-index: 999;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  width: 100%;
  background: white;
  padding: 10px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
  z-index: 200;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  gap: 10px;
}

.dropdown-menu > a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666666;
}

.dropdown-menu.active > a,
.dropdown-menu > a,
.sidebar > a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666666;
}

a > p {
  margin: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 150;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* mobile */
  padding: 10px 20px 60px 20px;

  /* larger */
  /* padding:  30px 100px 60px 100px; */
}

.table-container {
  background-color: white;
  width: 100%;
  border-radius: 4px;
  padding: 0px 12px;

  /* mobile */
  display: none;
}

.add-device-form-container {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr:first-child {
  border-bottom: 3px solid #f5f5f5;
}

.table tr {
  border-bottom: 2px solid #f5f5f5;
}

.table tr:last-child {
  border-bottom: none;
}

th {
  font-size: 13px;
  font-weight: 600;
  padding: 8px 4px;
}

td {
  font-size: 13px;
  font-weight: 400;
  padding: 8px 4px;
}

.chart-container {
  display: flex;
  /* mobile */
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.chart {
  /* mobile */
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
}

@media only screen and (min-width: 600px) {
  .chart {
    max-width: 600px;
    align-self: center;
  }
  .add-device-form-container {
    width: 600px;
    align-self: center;
  }
  .logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 870px) {
  .dropdown-menu {
    display: none;
  }
  .table-container {
    display: block;
    margin-top: 20px;
  }
  .sidebar {
    min-width: 180px;
    position: sticky;
    top: 0;
    height: 100vh;
    background: white;
    border-right: 1px solid #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hamburger-button {
    display: none;
  }
  .header {
    justify-content: end;
  }
  .main-section {
    justify-content: center;
  }

  .chart-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    justify-content: start;
    align-items: flex-start;
  }

  .add-device-form-container {
    display: flex;
    width: auto;
    height: 400px;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
  }

  .chart {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
}

h3 {
  margin-top: 14px;
  margin-bottom: 6px;
}

#myChart {
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
}

input {
  background-color: #f9f4f4;
  border: none;
  padding: 10px;
  width: 100%;
}

#add-device-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 6px 14px;
  border-radius: 6px;
  background-color: #f28e19;
  border: none;
  color: white;
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 32px;
}

#add-device-button > p {
  margin: 0;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

a {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
}

.loader {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid;
  border-color: white #0000;
  animation: l1 1s infinite;
  display: none;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
